<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="ISO-8859-1"/>

    <title>Sistema de busqueda docente</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>

    <!-- Custom styles for this template -->
    <link href="#" th:href="@{/css/login.css}" rel="stylesheet" />
    <link href="#" th:href="@{/css/style.css}" rel="stylesheet" />
    
    

  </head>

  <body>
  	<img class="fondo" src="/static/img/fisi.jpg" th:src="@{/img/fisi.jpg}">
  	<div class="titulo">
    	<h1>SISTEMA DE BUSQUEDA DOCENTE</h1>
  	</div>
    <div class="container">
      	<form class="form-signin" th:action="@{/logincheck}" method="POST">
      		<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
        	<h2 class="form-signin-heading">Iniciar Sesion</h2>
        	<label for="inputEmail" class="sr-only">Username</label>
        	<input type="text" class="form-control" placeholder="Username" name="username" id="username"/> 
			<label for="inputPassword" class="sr-only">Password</label> 
			<input type="password" class="form-control" placeholder="Password" name="password" id="password"/>
        	<div th:if="${error!=null}" class="alert alert-danger" role="alert">Usuario o contraseña incorrecta</div>
        	<div th:if="${logout!=null}" class="alert alert-info" role="alert">Sesion cerrada</div>
        	<button class="btn btn-lg btn-primary btn-block" type="submit">
        		<span class="glyphicon glyphicon-log-in" aria-hidden="true"></span> Sign in
        	</button>
      	</form>
    </div> <!-- /container -->
  </body>
</html>