<html>
<head>
<script src="jquery-3.4.1.min.js"></script>

</head>
<body>
<select id="select_designatfirst" title="Select Designation">
  <option value="0">All Employees</option>
  <option value="1">Company Admin</option>
  <option value="2">Marketing Manager</option>
  <option value="3">Product Manager</option>
</select>
<input type="text" class="form-control" id="empSearch"  placeholder="Search All Employees">
<script type="text/javascript">
var select_designatfirst = $('#select_designatfirst'),
empSearch = $('#empSearch');

select_designatfirst.on('change', function () {
empSearch.attr('placeholder', 'Search ' + select_designatfirst.find(':selected').text());
});
</script>
</body>
</html>
